# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules/

# Ignore all text files
*.txt

# Ignore files related to API keys
keys.js

# Ignore pdf files
*.pdf

# Ignore SASS config files
.sass-cache

# Ignore log files
*.log

# Ignore local builds
build/
client/dist/

# Ignore local cache
.cache/

# Ignore local environment variables
env_local.js


